.center-text {
    text-align: center;
}

.background-color {
    background-color: aqua;
}

.video{
    margin: 1pc 1px 20px 440px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

li {
    font-family: 'Courier New', Courier, monospace;
}

.tableausizer {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%
}